<%
init_flat = function(ansLevel1, class_id, discussion_id, entry, rating_template) {

    var mainHtml = "";
    ansLevel1.forEach(function (ans) {
        //mainHtml += "<div class='row text-justify'>";
        mainHtml += preOrder(ans, "", class_id, discussion_id, entry, rating_template);
        //mainHtml += "</div>";
    });

    return mainHtml;
}

preOrder = function(ans, ansLevel1Html, class_id, discussion_id, entry, rating_template) {
    // 11111 Main Media Div starts
    ansLevel1Html += "<div class='media'>";
    ansLevel1Html +=
            "<div class='media-left media-top'>" +
            "<img src='" + ans.profile_img + "' class='media-object' style='width:45px'>" +
            "</div>";

    // 22222 Media Body Div Starts
    ansLevel1Html += "<div class='media-body'>";
    ansLevel1Html += getHTMLForAnswer(ans, class_id, discussion_id, entry, rating_template);

    // 22222 Media Body Div Ends
    ansLevel1Html += "</div>";

    // 11111 Main Media Div Ends
    ansLevel1Html += "</div>";

    ans.replies.forEach(function (reply) {
        ansLevel1Html = preOrder(reply, ansLevel1Html, class_id, discussion_id, entry, rating_template);
    });




    return ansLevel1Html;
}

getHTMLForAnswer = function(ans, class_id, discussion_id, entry, rating_template) {
    var formAction = "/classes/" + class_id + "/discussion/" + discussion_id +
            "/que/" + entry._id + "/ans/" + ans._id;
    //console.log("Rating Flat Discussion ------   "+rating_template);
    var rating_disp = "";
    if(rating_template == 'UPVOTE'){
        if(ans.num_of_upvotes <= 0 )
            ans.num_of_upvotes = 0;
        rating_disp =
                "<div class='input-group input-group-xs'>"+
                "<form action='/classes/"+class_id+"/discussion/"+ discussion_id+"/ans/"+ans._id+"/upvote'method='post'>"  +
                "<button type='submit' class='btn btn-success btn-sm pull-right' ><span class='glyphicon glyphicon-ok-circle'></span></button>"+
                "</form>"+
                "<span class='input-group-addon'>"+ans.num_of_upvotes+"</span>"+
                "</div>";
    }else{
        var rating_val = ans.num_of_upvotes - ans.num_of_downvotes;
          rating_disp =
                        "<div class='input-group input-group-xs pull-right'>"+
                        "<form action='/classes/"+class_id+"/discussion/"+ discussion_id+"/ans/"+ans._id+"/upvote' method='post'>"  +
                        "<button type='submit' class='btn btn-success btn-sm pull-right' name = 'upvote' ><span class='glyphicon glyphicon-circle-arrow-up'></span></button>"+
                        "</form>"+

                        "<div class='col-xs-3'> "+
                        rating_val+
                        "</div>"+

                        "<form action='/classes/"+class_id+"/discussion/"+ discussion_id+"/ans/"+ans._id+"/downvote' method='post'>"  +
                        "<button type='submit' class='btn btn-danger btn-sm pull-right' name = 'upvote' ><span class='glyphicon glyphicon-circle-arrow-down'></span></button>"+
                        "</form>"+
                        "</div>"+
                        "<br/>"+
                        "<br/>"+
                        "<br/>";

    }
    var html =
            "<h6 class='media-heading'>" +
                ans.fullname + "&nbsp;" +
                "<small>" +
                    "<i> Posted on " + ans.timeStamp + "</i>" +
                "</small>" +
            "</h6>" +
            ans.ans_body +
            rating_disp+
            "<hr>";

    return html;
}
%>