<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <% include partials/head.ejs %>
  </head>
  <style>
		body { padding-top: 60px; padding-bottom: 30px; }
	</style>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action = "/driveController">
    <p><input type = "submit" value = "Create a Class"></p>
    </form>
  </body>
</html>