<html>
	<head>
		<% include partials/head.ejs %>
	
	<style>
		body { padding-top: 60px; padding-bottom: 30px; }
	</style>
	</head>
	<body>
		
			<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
			<div class="well">
			<h3>eduClass</h3>
    		<form  method="get" action="/auth/google">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      				<input id="email" type="text" class="form-control" name="email" placeholder="Email" required>
				</div><br>
				<div class="input-group">
					<input type="submit" class="btn btn-success" name="login" value="Login with Gmail">&nbsp;&nbsp;&nbsp;
<!-- 					<a href="/auth/google" class="btn btn-success" role="button">Login with Google</a>&nbsp;&nbsp;&nbsp; -->
					<% if(currentUser == null || currentUser.length > 0){%>
					<a href="./signUp" class="btn btn-primary pull-right" role="button">Sign Up as Teacher</a>
					<% } %>
				</div>
			</form>
			</div>
			</div>
			<div class="col-sm-4"></div>
			
		</div>
	</body>

</html>