<html>
	<head>
		<% include ../views/partials/head.ejs %>
	
	<style>
		body { padding-top: 60px; padding-bottom: 30px; }
	</style>
	</head>
	<body>
		
			<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
			<div class="well">
			<h3>eduClass</h3>
    		<form  method="get" >
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      				<input id="email" type="text" class="form-control" name="email" placeholder="Email">
				</div>
				<p><div class="input-group">
					<a href="/auth/google">Login with Google</a>
					<!-- <input type="submit" class="btn btn-success" name="login" value="Login with Gmail"> -->
<!-- 					<button class="btn btn-primary" name="signup">"Sign Up as Teacher"</button> -->
				 <a href="./signUp" class="btn btn-primary" role="button">Sign Up as Teacher</a> 
				</div></p>
			</form>
			</div>
			</div>
			<div class="col-sm-4"></div>
			
		</div>
	</body>

</html>