<!doctype html>
<html>
<head>
		<% include ../views/partials/head.ejs %>
	
	<style>
		body { padding-top: 60px; padding-bottom: 30px; }
	</style>
	</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1> Profile</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Profile Info</h3>

                    <p>
                        <strong>id</strong>: <%= user.id %><br>
                        <strong>token</strong>: <%= user.token %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>name</strong>: <%= user.fullname %>
                        
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>