<html>
	<head>
		<% include partials/head.ejs %>
	
	<style>
		body { padding-top: 60px; padding-bottom: 30px; }
	</style>
	</head>
	<body>
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
			<div class="well">
			<h3>eduClass</h3>
    		<form action="/signUpTeacher" method="post" >
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      				<input id="email" type="text" class="form-control" name="email" placeholder="Email" required>
				</div>
				<p><div class="input-group">
					<input type="submit" class="btn btn-success" name="signUp" value="Sign Up as Teacher">
				</div></p>
			</form>
			</div>
			</div>
			<div class="col-sm-4"></div>
			
		</div>
	
	
	
	
	</body>
</html>